<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='shortcut icon' href='/icon.png' type='image/x-icon' />
        <title>WhatsApp QR Code</title>
        <script src='/socket.io/socket.io.js'></script>
        <link href='/main.css' rel='stylesheet' />
    </head>
    <body>

        <img
            class='w-full max-w-60 mx-auto'
            src='/logo.png'
            alt='Logo Moronanet'
        />

        <div
            class='w-full flex flex-col justify-center items-center mt-10'
            id='qrCodeContainer'
        ></div>
        <h3 class='text-center font-bold mt-10'>REGISTRO DE ACTIVIDAD</h3>
        <div id="logs-container" class="p-4 space-y-2 w-full max-w-[700px] mx-auto">
            {{#each logs}}
                <div class="flex items-start space-x-4 shadow rounded-lg p-5 bg-gray-50 border">
                    <div class="relative">
                        <img src="/message-icon.png" class="flex h-8 aspect-square object-contain p-1.5 items-center justify-center rounded-full bg-gray-100"></img>
                    </div>
                    <div class="flex-1">
                        <p class="text-sm font-medium">{{this.detail}}</p>
                        <p class="text-xs text-gray-500">{{this.dateTime}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    <form class="hidden fixed inset-0 min-h-screen justify-center items-center bg-black bg-opacity-50 z-50" id="logout-modal">
        <div class="bg-white w-96 py-4 px-10 rounded-lg shadow-lg">
            <h3 class="text-center font-bold">Ingrese el secret por favor</h3>
            <input type="password" class="w-full px-2 py-1 mt-4 border rounded" name="secret" />
            <button class="block bg-green-500 text-white px-4 py-2 rounded-lg mt-4 mx-auto" id="btn-logout">
                Confirmar
            </button>
        </div>
    </form>
    </body>
    <script>
        const qrCodeLoaded = '{{qrCode}}';
    </script>
    <script src='/script.js'></script>
</html>